body{
  background-color:#FDD5DF;
}
.left {
left: 14px;
border: 6px solid;
border-image: repeating-linear-gradient(45deg, #9a74a4, #f0cced, #ffadd9 30px) 60;
height: 150px;
width: 200px;
padding: 5px;
overflow: scroll;
font-family: Courier, monospace;
background-color: #fff0f3;
color: white;
}

.right{
left: 230px;
width: 300px;
height: 250px;
overflow: scroll;
border: 3px; 
border-image: repeating-linear-gradient(90deg, #9a74a4, #f0cced, #ffd3da 30px) 20;
color: white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d8bfd8;
}
li{
  float: left;
}

li a, .dropBtn{
  display: inline-block;
  color: lavender;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover, .dropDown:hover .dropBtn {
  background-color: pink;
}

li.dropDown{
  display: inline-block;
}

.dropDown-content{
  display: none;
  position: absolute;
  background-color: blush;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(1, 0, 1, 0.3);
  z-index: 1;
}

.dropDown-content a{
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
}
.dropDown-content a:hover{
  background-color: blush;
  color: white;
}

.dropDown:hover .dropDown-content{
  display:block;
}
