body{
  background-color:#FDD5DF;
}
banner{
border: 3px solid;
border-image: repeating-linear-gradient(45deg, #9a74a4, #f0cced, #ffadd9 30px) 60;
padding: 5px;
color: white;
font-family: brush-script mt, cursive;
text-shadow: 10px 10px 0px pink;
background-color: lilac;
}
.container{
  position: relative;
}
.left {
left: 14px;
border: 10px solid;
border-image: repeating-linear-gradient(45deg, #9a74a4, #f0cced, #ffadd9 30px) 60;
height: 270px;
width: 200px;
padding: 5px;
position: absolute;
background-color: lavenderblush;
 color: white; 
overflow: scroll;
font-family: Courier, monospace;
text-shadow: 1px 1px 2px pink;
}

.right{
left: 260px;
position: absolute;
width: 650px;
height: 450px;
background-color: lavenderblush;
padding: 5px;
overflow: scroll;
border: 10px solid; 
border-image: repeating-linear-gradient(45deg, #9a74a4, #f0cced, #ffadd9 30px) 60;
color: white;
text-shadow: 1px 1px 2px pink;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d8bfd8;
}
li{
  float: left;
}

li a, .dropBtn{
  display: inline-block;
  color: lavender;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover, .dropDown:hover .dropBtn {
  background-color: pink;
}

li.dropDown{
  display: inline-block;
}

.dropDown-content{
  display: none;
  position: absolute;
  background-color: #FDD5DF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(1, 0, 1, 0.3);
  z-index: 1;
}

.dropDown-content a{
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  background-color: #FDD5DF;
  text-align: left;
}
.dropDown-content a:hover{
  background-color: blush;
  color: white;
}

.dropDown:hover .dropDown-content{
  display:block;
}
